/* 
Title:		Screen styles and ie/win patches
Author: 	dan@simplebits.com
Adapted:  jeff@jeffmueller.net
*/

/* import stylesheets and hide from ie/mac \*/
@import url("reset.css");
@import url("master.css");
@import url("ie.css");
/* end import/hide */